# Maximum Protection (Secret Files)
.env
db.sqlite3
secrets.json

# Temporary Python files (not needed for uploading)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/

# Interface and System Files
.DS_Store
.vscode/
.idea/

# Static and uploaded files (collected on the server)
staticfiles/
media/