Django>=5.1.0,<5.2.0
asgiref>=3.8.1
sqlparse>=0.5.1
dj-database-url>=2.1.0
psycopg2-binary>=2.9.9
whitenoise[brotli]>=6.7.0
gunicorn>=23.0.0
python-dotenv>=1.0.1
django-crispy-forms>=2.3
crispy-bootstrap5>=2024.10
django-auditlog>=3.0.0
Pillow>=10.4.0
weasyprint>=62.0
cffi>=1.17.1
cssselect2>=0.7.0
tinycss2>=1.2.1
pydyf>=0.11.0
Pyphen>=0.14.0
fonttools>=4.53.0
tinyhtml5>=2.0.0
brotli>=1.1.0