Django==4.2.11
asgiref==3.7.2
sqlparse==0.4.4
dj-database-url==2.1.0
psycopg2-binary==2.9.9
whitenoise[brotli]==6.6.0
gunicorn==21.2.0
python-dotenv==1.0.1
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
django-auditlog==2.3.0
Pillow==10.2.0
weasyprint==61.2
cffi==1.17.1
cssselect2==0.7.0
tinycss2==1.2.1
pydyf==0.11.0
Pyphen==0.14.0
fonttools==4.49.0
tinyhtml5==2.0.0
brotli==1.1.0